<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>アカウント設定</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/account.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

    <%- include('./header.ejs') %>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    <div class="account">

                        <div class="account-title"><i class="fa fa-key" aria-hidden="true"></i> アカウント設定</div>

                        <div class="panel panel-custom">
                            <div class="panel-heading">パスワード変更</div>

                            <div class="panel-body">
                                <form method="POST" action="/account">

                                    <div class="form-group">
                                        <label for="passwd">現在のパスワード : </label>
                                        <input type="password" class="form-control input-lg" id="passwd" maxlength='12'>
                                    </div>

                                    <div class="form-group">
                                        <label for="new-passwd">新しいパスワード : </label>
                                        <input type="password" class="form-control input-lg" id="new-passwd" maxlength='12'>
                                    </div>

                                    <div class="form-group">
                                        <label for="new-passwd2">新しいパスワード(再入力) : </label>
                                        <input type="password" class="form-control input-lg" id="new-passwd2">
                                    </div>

                                    <div class="text-right">
                                        <button type="submit" class="btn btn-success submit-btn">送　信</button>
                                    </div>

                                </form>
                            </div>

                        </div><!-- panel -->

                    </div><!-- accout -->

                </div><!-- col -->

            </div><!-- row -->
        </div><!-- container -->
    </section>

    <%- include('./footer.ejs') %>


<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>


</body>
</html>
