<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>Admin - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

                <div class="admin">

                    <div class="text-center"> 〜　　管理者メニュー　　〜 </div>

                    <div class="text-center adminmenu">
                        <a href="/adminlist" class="btn btn-primary menu-btn">ユーザーリスト</a><br>
                    </div>

                    <div class="text-center adminmenu">
                        <a href="/externaledit" class="btn btn-info menu-btn">外部ユーザー編集</a><br>
                    </div>

                    <div class="text-center adminmenu">
                        <a href="/adminedit" class="btn btn-success menu-btn">adminユーザー編集</a><br>
                    </div>

                    <div class="text-center adminmenu">
                        <a href="/logout" class="btn btn-warning menu-btn">ログアウト</a><br>
                    </div>



                    <div class="text-center adminmenu">
                        <form method="post" name="format" action="admin/format">
                            <button type="submit" class="btn btn-danger submit-btn" onclick="return delete_confirm('全イベント情報');">初期化</button>
                        </form>
                    </div>

                </div>

            </div><!-- col -->



        </div><!-- row -->
    </div><!-- container -->
</section>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Form Confirmation -->
<script src="../public/js/form_confirmation"></script>


</body>
</html>
