<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>EventTop - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/eventtop.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>

<%- include('./header.ejs') %>

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

              <div class="eventtop">

                  <div class="text-left contents-title"><i class="fa fa-asterisk" aria-hidden="true"></i> イベントトップ</div>

                  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 text-center">
                      <img src="../public/images/noimage.png" class="event-img"><br>
                      <a href="" class="btn btn-success admin-btn">イベント管理</a>
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                      <div class="event-form">
                          <div class="event-title">ソフトⅣ合評会</div>
                          <div class="event-contents">
                              <ul class="list-unstyled">
                                  <li>対象コース : ソフトⅣコース</li>
                                  <li>日時 : 2017/XX/YY</li>
                                  <li>場所 : 南館ソニックホール</li>
                                  <li>
                                    概要 : <br>
                                    <ul class="list-unstyled overview">
                                        <li>PBL3の合評会と個人発表を行います。</li>

                                    </ul>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

              </div>

               <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 event-menu">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                        <a href="#" class="icon"><img class="img-icon" src="images/teamicon.png"></a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <a href="#" class="icon2"><img class="img-icon2" src="images/teamlisticon.png"></a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <a href="#" class="icon"><img class="img-icon" src="images/voteicon.png"></a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                        <a href="#" class="icon3"><img class="img-icon" src="images/votingresultsicon.png"></a>
                    </div>
               </div>

            </div><!-- col -->

        </div><!-- row -->
    </div><!-- container -->
</section>

<%- include('./footer.ejs') %>

<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Footer Fixed -->
<script src="../public/js/footerFixed.js"></script>

</body>
</html>