<!DOCTYPE html>

<html lang="ja">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title-->
    <title>EventTop - VARS -</title>

    <!-- Bootstrap Core CSS -->
    <link href="../public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/css/eventtop.css" rel="stylesheet">
    <link href="../public/css/header.css" rel="stylesheet">
    <link href="../public/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>
<body>
  <!-- <%=userdata%> -->

<form method="post" name="externalinsert" action="externaledit">
  insert
  <input type="text" name="username">
  <input type="text" name="address">
  <input type="hidden" name="mode" value="insert">
  <input type="password" name="password">
  <input type="submit" class="btn">
</form>
<br>
<%if(userdata!=""){%>
<form method="post" name="externaldelete" action="externaledit" onsubmit="return external_confirm();">
  delete<br>
  <%for(var i=0;i<userdata.length;i++){%>
  <%=userdata[i].Name%>
  <%=userdata[i].Address%>&nbsp;&nbsp;&nbsp;
  <input type="checkbox" id="address"  name="address" value="<%=userdata[i].Address%>"><br>
  <%}%>
  <input type="hidden" name="mode" value="delete">
  <input type="submit" class="btn">
</form>
<%}%>


<script src="../public/js/external_conf.js"></script>

</body>
</html>
