
<!DOCTYPE html>

<html lang="ja">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Title-->
  <title>Adminedit - VARS -</title>

  <!-- Bootstrap Core CSS -->
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../public/css/edit.css" rel="stylesheet">
  <link href="../public/css/tablesort.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/earlyaccess/notosansjapanese.css' rel='stylesheet' type='text/css'>

</head>

<body>


  <section>
      <div class="container">
          <div class="row">
              <div class="col-xs-12  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">

                  <div class="edit">
                      <div class="text-center"> 〜　　外部ユーザー編集　　〜 </div>
                  </div>
                  <div class="edit-contents text-center">
                    <div class="padding-bottom">
                      <h3>外部ユーザー追加</h3>
                    </div>
                    <form method="post" name="externalinsert" action="externaledit" onsubmit="return external_check();">
                        <dl>
                          <dt>名前</dt>
                          <dd><input type="text" class="text" placeholder="name" name="username"></dd><br>
                        </dl>

                        <dl>
                          <dt>メールアドレス</dt>
                          <dd><input type="text" class="text" placeholder="address" name="address"></dd><br>
                        </dl>
                        <!-- <dl> -->
                          <!-- <dt>パスワード</dt> -->
                          <!-- <dd><input type="password" class="text" placeholder="password" name="password"></dd><br> -->
                        <!-- </dl> -->

                        <input type="hidden" name="mode" value="insert">
                    <button type="submit" class="btn btn-primary lag-btn">追加</button>
                  </form>


                    <div class="padding-bottom">
                      <h3>外部ユーザー削除</h3>
                    </div>
                    <%if(userdata!=""){%>
                       <div class="tab-content text-center">
                              <table id="adminedit-table" class="table table-bordered list-table tablesorter">
                                    <thead>
                                        <tr>
                                            <th>　　</th>
                                            <th class="col-md-2 text-center">No.</th>
                                            <th class="col-md-6 text-center">Eメールアドレス</th>
                                            <th class="col-md-4 text-center">名前</th>
                                        </tr>
                                    </thead>
                                    <%}%>
                                    <tbody>
                                      <form method="post" name="externaldelete" action="externaledit" onsubmit="return external_confirm();">
                                        <input type="hidden" name="mode" value="delete">

                                        <% for(var i = 0 ; i < userdata.length; i++) { %>
                                            <tr>
                                                <td><input type="checkbox" id="address" name="address" value="<%=userdata[i].Address%>"></td>
                                                <td><%=i + 1%></td>
                                                <td><%=userdata[i].Address%></td>
                                                <td><%=userdata[i].Name %></td>
                                            </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                      </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-danger lag-btn">削除</button>
                    </div>
                  </form>
                </div>
              </div><!-- col -->

          </div><!-- row -->
      </div><!-- container -->


<!-- jQuery -->
<script src="../public/js/jquery.js"></script>

<!-- Table sort -->
<script src="../public/js/jquery.tablesorter.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../public/js/bootstrap.min.js"></script>

<!-- Form Confirmation -->
<!-- <script src="../public/js/form_confirmation"></script> -->
<!-- admin exterrnal confirmation -->
<script src="../public/js/external_conf.js"></script>

</body>
</html>
