<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <a id="tag-btn" class="btn btn-success">タグ検索</a>
    <div id="tag-target">
        <ul class="list-inline">
            <% for(var i = 0 ; i < field.length; i++) { %>
                <li><a href="/getEventList?fieldid=<%= field[i].Fieldid %>"><%= field[i].Fieldname %></a></li>
            <% } %>
        </ul>

    </div>
</div>
