<!-- header -->
<section>
    <div class="container">
        <div class="row">

            <!-- navbar -->
            <nav class="navbar navbar-custom">
                <div class="navbar-header">
                    <!-- hamburger-menu -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarMenu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- logo&title -->
                    <a class="navbar-brand page-scroll" href="/">
                        <div class="header-title">V A R S</div>
                    </a>
                </div>

            </nav>
            <div class="barbottom-color"></div>

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="collapse navbar-collapse" id="navbarMenu">

                    <ul class="nav navbar-nav navbar-right dropdown">
                            <li class="nav-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">イベント <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/eventcreate">イベント作成</a></li>
                                    <li><a href="/eventlist">イベントリスト</a></li>
                                </ul>
                            </li>
                            <li class="nav-menu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">アカウント <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/logout">ログアウト</a></li>
                                </ul>
                            </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>