/* index.css */

/* All */
html,body {
    width: 100%;
    height: 100%;
}

body{
    background: #F5F5F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Noto Sans Japanese', sans-serif;
}

.container {
    width: auto;
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 0px;
    padding-right: 0px;
}
/* !All */

/* Header */
.navbar-custom{
    width: 100%;
    height: 60px;
    background: white;
    margin-bottom: 0px;
}
.navbar-header .icon-bar{
    background: #333;
}
.navbar-header a{
    color: #333;
    font-size: 38px;
    font-weight: bold;
    text-decoration: none;
}
.barbottom-color{
    width: 100%;
    height: 10px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 768px - 979px用（タブレット用）の記述 */
    .navbar-custom{
        width: 100%;
        height: 50px;
        background: white;
    }
    .navbar-header a{
        color: #333;
        font-size: 38px;
        font-weight: bold;
        text-decoration: none;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px)  {
    /* 480px - 767px用（タブレット／スマートフォン用）の記述 */
    .navbar-custom{
        width: 100%;
        height: 50px;
        background: white;
    }
    .navbar-header a{
        color: #333;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }
}
@media screen and (max-width: 479px) {
    /* 479px以下用（スマートフォン用）の記述 */
    .navbar-custom{
        width: 100%;
        height: 50px;
        background: white;
    }
    .navbar-header a{
        color: #333;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
    }
}
/* Header */

/* Error */
.error{
    margin-top: 100px;
}
.error-title{
    font-size: 100px;
    filter: alpha(opacity=50);
    -moz-opacity:0.50;
    opacity:0.50;
}
.vote-img{
    margin-top: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.home-btn{
    margin-top: 100px;
    margin-left: 10%;
    font-size: 50px;

}
@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 768px - 979px用（タブレット用）の記述 */
    .error-title{
        font-size: 85px;
        filter: alpha(opacity=50);
        -moz-opacity:0.50;
        opacity:0.50;
    }
    .vote-img{
        margin-top: 20px;
        width: 150%;
        height: 150%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .home-btn{
        margin-top: 80px;
        font-size: 50px;

    }

}
@media screen and (min-width: 480px) and (max-width: 767px)  {
    /* 480px - 767px用（タブレット／スマートフォン用）の記述 */
    .error-title{
        font-size: 60px;
        filter: alpha(opacity=50);
        -moz-opacity:0.50;
        opacity:0.50;
    }
    .vote-img{
        width: 35%;
        height: 35%;
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .home-btn{
        margin-top: 50px;
        font-size: 36px;

    }

}
@media screen and (max-width: 479px) {
    /* 479px以下用（スマートフォン用）の記述 */
    .error-title{
        font-size: 36px;
        filter: alpha(opacity=50);
        -moz-opacity:0.50;
        opacity:0.50;
    }
    .vote-img{
        width: 35%;
        height: 35%;
        margin-top: 20px;
        margin-right: 15px;
        margin-bottom: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .home-btn{
        margin-top: 50px;
        font-size: 24px;

    }
}
/* !Error */