/* index.css */

/* All */
html,body {
    width: 100%;
    height: 100%;
}

body{
    background: #F5F5F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Noto Sans Japanese', sans-serif;
  }

blockquote{
    border-left: 0px;
}

blockquote.twitter-tweet {
      display: inline-block;
      font-size: 10px;
      font-weight: bold;
      line-height: 100px;
      margin: 20px 5px;
      padding: 0 16px 16px 16px;
      max-width: 600px;
}

.container {
    width: auto;
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 0px;
    padding-right: 0px;
}
/* !All */

/* Index */
.index{
    margin-top: 30px;
    font-size: 30px;
    font-weight:bold;
}
.index-title{

}
.event-list{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.event-contents{
    font-size: 14px;
    margin-left: 10px;
    padding: 15px 10px 10px 10px;
}
.event-img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size: cover;
    -o-background-size:cover;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
}
.panel-list{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    border-color: #62c2e4;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.panel-events{
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    border-color: #62c2e4;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.list-group{
    height: 600px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#event-menu {
    padding-left: 0;
    list-style: none;
}
#event-menu a{
    color: #333;
}
#event-menu > li > ul {
    list-style: none;
    display:none;
}
.twitter-contents{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 768px - 979px用（タブレット用）の記述 */
    .index-title{
        margin-left: 5%;
        font-size: 24px;
    }
    .panel-events{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11px;
        border-color: #62c2e4;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    .panel-heading{
        font-size: 18px;
    }
    #event-menu a{
        font-size: 18px;
    }
    .twitter-contents{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 13%;
        padding-right: 10%;
    }
}
@media screen and (min-width: 480px) and (max-width: 767px)  {
    /* 480px - 767px用（タブレット／スマートフォン用）の記述 */
    .index-title{
        margin-left: 5%;
        font-size: 24px;
    }
    .panel-events{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        border-color: #62c2e4;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    .panel-heading{
        font-size: 18px;
    }
    #event-menu a{
        font-size: 16px;
    }
    .twitter-contents{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 11%;
        padding-right: 10%;
    }
}
@media screen and (max-width: 479px) {
    /* 479px以下用（スマートフォン用）の記述 */
    .index-title{
        margin-left: 5%;
        font-size: 20px;
    }
    .panel-events{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 11px;
        border-color: #62c2e4;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    .event-contents{
        font-size: 14px;
        padding: 15px 10px 10px 10px;
        margin-top: 10px;
        margin-left: 30px;
    }
    .panel-heading{
        font-size: 18px;
    }
    #event-menu a{
        font-size: 16px;
    }
    .twitter-contents{
        width: 92%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .list-group{
        height: 480px;
        overflow-x: hidden;
        overflow-y: scroll;
    }

}
/* !Index */
