/* index.css */

/* All */
html,body {
    width: 100%;
    height: 100%;
}

body{
    background: #F5F5F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Noto Sans Japanese', sans-serif;
}

.container {
    width: auto;
}
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding-left: 0px;
    padding-right: 0px;
}
/* !All */

/* confirmation*/
.confirmation{

}
/* !confirmation */