/* All */
html,body {
    width: 100%;
    height: 100%;
}

body{
    background: #F5F5F5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: 'Noto Sans Japanese', sans-serif;
}
.container {
    width: auto;
}
.col-xs-2,.colxs-10,.col-xs-12, .col-sm-2,.col-sm-10,.col-sm-12, .col-md-2,.col-md-10,.col-md-12, .col-lg-2,.col-lg-10,.col-lg-12{
    padding-left: 0px;
    padding-right: 0px;
}
.clear{
    clear: both;
}
/* !All */

/* Vote */
.vote{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight:bold;
}

.controls-title{
    font-size: 30px;
}

.submit-btn{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}
.hr-field{
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}
.top-margin{
    margin: 0 auto;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 979px) {
    /* 480px - 767px用（タブレット／スマートフォン用）の記述 */

}

@media screen and (min-width: 480px) and (max-width: 767px) {
    /* 480px - 767px用（タブレット／スマートフォン用）の記述 */
}

@media screen and (max-width: 479px) {

}

/* !Vote */